.advantages {
  width: 100%;
}

.advantages__wrapper {
  width: 100%;
}

.advantages__list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    max-width: @desktop-width;
    margin: 0 auto;
  }
}

.advantages__item {
  &--post {
    &:last-child {
      background-image: none;
    }
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg width='284' height='1' viewBox='0 0 284 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='284' height='1' fill='%23D6D6D6'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }
  z-index: 20;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    &--post {
      background-image: none;
    }

    &:first-child {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

.advantages__title {
  &--post {
    color: #000000;
    padding-top: 6px;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  color: #ffffff;
}

.advantages__number {
  &--post {
    color: #333333;
    padding-top: 13px;
  }
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  color: #ffffff;
}

.advantages__description {
  &--post {
    color: #333333;
    padding-bottom: 25px;
    background-color: #eeeeee;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  color: #ffffff;
  margin-top: 40px;
  background-color: #81b3d2;
}

.advantages__description p {
  min-width: 190px;
  padding: 0;
  margin: 0;
}

.advantages__picture {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages__description {
    &--post {
      flex-direction: column;
      justify-content: center;
    }
    grid-column: span 2;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    min-height: 256px;
    padding: 0;
    margin: 0 auto;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.advantages__post {
  display: block;
  height: 190px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__picture {
    height: 256px;
    width: auto;
  }

  .advantages__post {
    width: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__picture {
    height: 256px;
    width: calc(100% - 400px);
  }

  .advantages__post {
    width: 400px;
  }
}
