.advantages {
  width: 100%;
}

.advantages__wrapper {
  width: 100%;
}

.advantages__list {
  counter-reset: item;
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    max-width: @desktop-width;
    margin: 0 auto;
  }
}

.advantages__item {
  &--post {
    &:last-child .advantages__description--post {
      border-bottom: none;
    }
    background-color: #eeeeee;
    padding: 0 18px;
  }
  z-index: 10;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    &:first-child {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

.advantages__title {
  &::after {
    counter-increment: item;
    content: "— №" counter(item) " —";
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 10px;
  }

  &--post {
    &::after {
      color: #000000;
    }
    color: #000000;
    padding-top: 6px;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 0;
  margin: 0;
  color: #ffffff;
}

.advantages__description {
  &--post {
    color: #333333;
    padding-bottom: 25px;
    background-color: #eeeeee;
    min-height: 190px;
    width: 100%;
    border-bottom: 1px solid #dedede;
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__description p {
  padding: 0;
  margin: 0;
}

.advantages__picture {
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantages__description {
    &--post {
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 24px;
    }
    grid-column: span 2;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .advantages__picture {
    width: 100%;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.advantages__post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 190px;
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
}

@media (min-width: @tablet-width) {
  .advantages__picture {
    &--swap {
      order: -1;
    }
    height: 256px;
    width: calc(100% - 256px);
  }

  .advantages__post {
    width: 256px;
  }

  .advantages__image {
    height: 256px;
  }

  .advantages__description {
    &--post {
      height: 256px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__picture {
    height: 256px;
    width: calc(100% - 400px);
  }

  .advantages__post {
    width: 400px;
  }

  .advantages__description {
    &--post {
      height: 256px;
    }
  }
}
