.advantage__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: flex;
  }
}

.advantage__item {
  min-height: 144px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .advantage__item {
    min-height: 330px;
  }
}

