.advantages {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: item;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}

.advantages__item {
  width: 100%;
  padding: 0;
  margin: 0;
}

.advantages__image-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.advantages__picture {
  margin: 0;
  width: 100%;
}

.advantages__description {
  &--post {
    &::after {
      color: #000000;
    }
    color: #000000;
    min-height: 160px;
    padding: 0;
    background-color: #eeeeee;
  }

  &--bridge {
    padding-top: 6px;
  }
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  min-height: 188px;
  padding-bottom: 35px;
  margin: 0;
  color: #ffffff;
}

.advantages__image {
  display: block;
  width: 100%;
}

.advantages__title {
  &::after {
    counter-increment: item;
    content: "— №" counter(item) " —";
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 17px;
  }

  &--post {
    &::after {
      padding-top: 11px;
      padding-bottom: 17px;
    }
    padding-top: 24px;
  }

  &--first {
    padding-top: 27px;
  }
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  padding-top: 33px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    &::after {
      padding-top: 12px;
      padding-bottom: 23px;
    }

    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__text {
  &--post {
    display: block;
    color: #333333;
    width: 284px;
    border-bottom: solid 1px #d6d6d6;
    padding-top: 0;
    padding-bottom: 24px;
  }
  display: block;
  width: 284px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item:last-child .advantages__text--post {
  border: none;
  padding-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    &:first-child {
      grid-column: span 3;
    }

    &:nth-child(2) {
      grid-column: span 3;
    }
    width: 100%;
    padding: 0;
  }

  .advantages__picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .advantages__description {
    min-width: 256px;
    min-height: 256px;
    padding-top: 40px;
    padding-bottom: 43px;
  }

  .advantages__image {
    height: 256px;
  }

  .advantages__image-wrapper {
    &--swap {
      order: -1;
    }
    width: calc(100% - 256px);
    height: 256px;
  }

  .advantages__title {
    padding: 0;
    width: 130px;
  }

  .advantages__text {
    &--post {
      border: none;
      width: 180px;
    }
    width: 192px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description {
    width: 400px;
  }

  .advantages__image-wrapper {
    width: calc(100% - 400px);
  }

  .advantages__text {
    &--post {
      width: 260px;
    }
  }
}
