.button {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #81b3d2;
    color: #ffffff;
    opacity: 0.3;
  }
  background: #81b3d2;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}

.button:active a {
  opacity: 0.3;
}
