.card {
  position: relative;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card {
    padding: 0;
    margin: 0;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  width: 100%;
}

@media (min-width: @desktop-width) {
  .card__image {
    height: 267px;
  }
}

.card__title-wrapper {
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .card__title-wrapper {
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
  }
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .card__caption {
    display: flex;
    justify-content: space-between;
  }
}

.card__author {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
  color: #333333;
  padding: 0;
  margin: 0;
}

.card__likes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  border: none;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .card__likes-wrapper {
    padding-right: 20px;
    margin: auto 0;
  }
}

.card__likes {
  &--like {
    color: #81b3d2;
    opacity: 1;
  }
  display: block;
  width: 23px;
  height: 21px;
  padding: 0;
  margin-top: -3px;
  border: 0;
  border-radius: 0;
  color: #000000;
  opacity: 0.3;
}

.card__likes-number {
  &--like {
    color: #81b3d2;
  }
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: @desktop-width) {
  .card__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card__author,
  .card__likes-number,
  .card__title {
    color: #ffffff;
  }

  .card__likes {
    &--like {
      color: #81b3d2;
      opacity: 1;
    }
    color: #ffffff;
    opacity: 1;
  }

  .card__likes-number {
    &--like {
      color: #81b3d2;
    }
  }
}
