.copyright {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  color: #000000;
}
