.feedback-form {
  width: 100%;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .feedback-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form {
    width: 960px;
  }
}

.feedback-form__group {
  &--radio {
    padding-bottom: 14px;
  }

  &--checkbox {
    padding-bottom: 14px;
  }
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 40px;
  border-top: 1px solid #e5e5e5;
}

.feedback-form__group--column-right {
  padding-bottom: 34px;
}

@media (min-width: @tablet-width) {
  .feedback-form__group {
    padding-top: 0;
    margin-top: 24px;
    border: none;
  }

  .feedback-form__group--wide {
    grid-column: span 2;
  }

  .feedback-form__group--column-left {
    padding-right: 25px;
    border-right: 1px solid #e5e5e5;
  }

  .feedback-form__group--column-right {
    margin-left: 25px;
  }
}

.feedback-form__title {
  &::after {
    content: ":";
  }

  &--radio {
    padding-bottom: 20px;
  }
  float: left;
  display: inline;
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .feedback-form__group--wide .feedback-form__title {
    background-image: linear-gradient(#dbdbdb, #dbdbdb), linear-gradient(#dbdbdb, #dbdbdb);
    background-size: calc(50% - 150px) 1px;
    background-repeat: no-repeat;
    background-position: left center, right center;
    max-width: 960px;
  }

  .feedback-form__group--wide .feedback-form__title::after {
    content: "";
    position: absolute;
    top: 30%;
    right: calc(-50% - 50px);
    width: calc(50% + 25px);
    height: 1px;
    border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__group--wide {
    max-width: 960px;
  }

  .feedback-form__group--wide .feedback-form__title::before {
    left: calc(-100% - 110px);
    width: calc(100% + 50px);
  }

  .feedback-form__group--wide .feedback-form__title::after {
    right: calc(-100% - 110px);
    width: calc(100% + 50px);
  }

  .feedback-form__group--column-left {
    padding-right: 60px;
    width: 100%;
  }

  .feedback-form__group--column-right {
    margin-left: 60px;
    padding-right: 60px;
    width: 100%;
  }
}

ul.feedback-form__list {
  &--checkbox {
    margin-top: 72px;
  }
  margin-top: 0;
}

.feedback-form__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 6px;
  padding: 0 20px;
  margin: 0;
}

.feedback-form__list .feedback-form__item--textarea {
  height: 160px;
}

@media (min-width: @tablet-width) {
  .feedback-form__group--wide .feedback-form__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback-form__group--wide .feedback-form__item {
    width: 280px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__group--wide .feedback-form__list {
    flex-wrap: nowrap;
  }

  .feedback-form__list--checkbox {
    max-width: 960px;
  }
}

@media (min-width: @tablet-width) {
  .feedback-form__list .feedback-form__item--textarea {
    display: flex;
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__list .feedback-form__item--textarea {
    display: flex;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback-form__item {
  &--textarea {
    display: flex;
    justify-content: center;
  }
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
}

.feedback-form__submit {
  grid-column: span 2;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .feedback-form__submit {
    width: 648px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__submit {
    width: 768px;
  }
}

.feedback-form__submit-button {
  width: 280px;
  min-height: 58px;
  margin: 16px 20px 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .feedback-form__submit-button {
    width: 324px;
    margin: 0;
  }
}

.feedback-form__footnote {
  display: block;
  width: auto;
  margin: 0;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .feedback-form__footnote {
    text-align: right;
  }
}
