.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-top: 37px;
  padding-left: 58px;
  padding-right: 60px;
  padding-bottom: 36px;
}

.footer__hashtag {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    padding-top: 33px;
    padding-right: 43px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__hashtag {
    padding-right: 10px;
  }
}
