.form {
  max-width: @tablet-width;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .form {
    max-width: @desktop-width;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 68px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
