.header-nav {
  &--disablejs {
    position: relative;
    margin-top: 98px;
    width: 100%;
  }
  position: relative;
  min-width: 320px;
  min-height: 56px;
  background-color: #ffffff;
}

.header-nav__toggle {
  &--disablejs {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  position: absolute;
  display: block;
  padding: 0;
  z-index: 300;
  top: 16px;
  right: 20px;
  width: 24px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.header-nav__toggle > span {
  &::after {
    content: "";
    display: block;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%;
    position: absolute;
    background: #81b3d2;
    transition: 0.4s;
  }

  &::before {
    content: " ";
    display: block;
    top: 0;
    right: 0;
    height: 4px;
    width: 100%;
    position: absolute;
    background: #81b3d2;
    transition: 0.4s;
  }
  display: block;
  height: 4px;
  width: 100%;
  padding: 0;
  top: 21px;
  background: #81b3d2;
  text-align: center;
  margin: 0;
  transition: 0.5s;
}

.header-nav__toggle--open > span {
  &::before {
    transform: rotate(45deg);
    width: 30px;
    top: 9px;
    background-color: #ffffff;
    transition: 0.4s;
  }

  &::after {
    transform: rotate(-45deg);
    width: 30px;
    bottom: 10px;
    background-color: #ffffff;
    transition: 0.4s;
  }
  width: 0;
  background-color: #ffffff;
  transition: 0.5s;
}

.header-nav__wrapper {
  &--closed {
    left: -100%;
    transition: all 0.4s ease;
  }
  display: flex;
  flex-direction: column;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.4s ease;
}

.header-nav__list {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 7px;
    mix-blend-mode: normal;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #81b3d2;
}

.header-nav__item a {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  padding: 0 10px;
}

.header-nav__item {
  &:hover {
    background-color: #669ec0;
  }

  &:active {
    opacity: 0.3;
  }
  position: relative;
  display: flex;
  width: auto;
  min-height: 55px;
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  align-items: center;
  justify-content: center;
  margin: 0.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .header-nav {
    &--disablejs {
      margin-top: 0;
    }
    display: block;
    min-width: 640px;
  }

  .header-nav__toggle {
    &--open {
      display: none;
    }
    display: none;
  }

  .header-nav__wrapper {
    &--closed {
      display: flex;
      left: 0;
    }
    flex-direction: row;
    justify-content: space-between;
    z-index: 50;
  }

  .header-nav__list {
    &::after {
      display: none;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
  }

  .header-nav__item {
    &:nth-child(4n+3) {
      grid-column: 4/5;
    }

    &:hover {
      background-color: #ffffff;
    }

    &:active {
      opacity: 1;
    }
    min-width: 153px;
    box-shadow: none;
    font-size: 14px;
  }

  .header-nav__item a {
    color: #000000;
  }

  .header-nav__item--current a {
    color: #766357;
  }

  .header-nav__item:hover a {
    color: #81b3d2;
  }

  .header-nav__item:active a {
    color: #000000;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .header-nav {
    max-width: 1200px;
    margin: 0 auto;
  }
}
