.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

@media (min-width: @desktop-width) {
  .page__body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
