.presentation {
  padding-top: 17px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .presentation {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 800px;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 85px;
  }
}

.presentation__title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 25px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .presentation__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    padding-top: 42px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__title {
    padding-top: 43px;
  }
}

.presentation__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 37px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .presentation__description {
    padding-bottom: 90px;
  }
}

@media (min-width: @desktop-width) {
  .presentation__description {
    padding-bottom: 87px;
  }
}
