.hero {
  &--index {
    background-position-y: 331px, top;
  }
  min-height: 158px;
  background-color: #ddebf4;
  background-image: url("data:image/svg+xml,%3Csvg width='320' height='57' viewBox='0 0 320 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_29492_885' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='320' height='57'%3E%3Crect width='320' height='57' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_29492_885)'%3E%3Cpath d='M-190.171 23.7L-440 0V57H-190.171H160.55L-190.171 0V23.7Z' fill='white'/%3E%3Cpath d='M511.271 23.7V0L160.55 57H511.271H761V0L511.271 23.7Z' fill='white'/%3E%3C/g%3E%3C/svg%3E "),
    url("../img/back-mobile.jpg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: 101px, bottom;
}

.hero__image {
  &--index {
    margin-top: 90px;
    margin-bottom: 80px;
    margin-left: calc(50% - 141px);
  }
  margin-left: calc(50% - 115px);
  margin-top: 60px;
}
