.hero {
  background-color: #81b3d2;
  background-image: url("../img/back-mobile.jpg");
}

.hero__slogan {
  background-color: #ffffff;
}

.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hero__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
