.video {
  position: relative;
  padding-left: 20px;
}

.video__button {
  position: absolute;
  top: calc(50% - 27px);
  left: calc(50% - 14px);
  width: 48px;
  height: 54px;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='55' viewBox='0 0 48 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 27.0193L0 54.0193L2.42273e-06 0.0192871L48 27.0193Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
}
